# images and outputs
*pdf
*svg
*png
*jpg
*dat
*pyc
*pqr
*pdb
*pdb1
*top
*dat
*txt
*swp
*xyz
*html
config*
debug*
*input
*json
*dat
*ipynb
*js
*css

#execs
x2t
*x2t
*t2x

# qm files
*out
*basis*
*GEO_OPT*
*traj
*coord
*control

# compressed
*zip
*tar.gz
*tar.xz
*save
*tar

# folders
conda*
wandb*
data/compressed_frames/*
*gradient
heml.egg-info/PKG-INFO
HEML/source/visualization/newplot.png
heml.egg-info/PKG-INFO
data/cpet_5_35/average_field.npy
data/cpet/average_field.npy
